<div id="_imoveis-list" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="_filter pt-3">
                    <button (click)="openForm()" class="_close">x</button>

                    <h6>Filtrar</h6>
                    <div class="accordion accordion-flush" id="accordionFlushExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseOne" aria-expanded="false"
                                    aria-controls="flush-collapseOne">
                                    Accordion Item #1
                                </button>
                            </h2>
                            <div id="flush-collapseOne" class="accordion-collapse collapse"
                                aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">Placeholder content for this accordion, which is intended to
                                    demonstrate the <code>.accordion-flush</code> class. This is the first item's
                                    accordion body.</div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                    aria-controls="flush-collapseTwo">
                                    Accordion Item #2
                                </button>
                            </h2>
                            <div id="flush-collapseTwo" class="accordion-collapse collapse"
                                aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">Placeholder content for this accordion, which is intended to
                                    demonstrate the <code>.accordion-flush</code> class. This is the second item's
                                    accordion body. Let's imagine this being filled with some actual content.</div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseThree" aria-expanded="false"
                                    aria-controls="flush-collapseThree">
                                    Accordion Item #3
                                </button>
                            </h2>
                            <div id="flush-collapseThree" class="accordion-collapse collapse"
                                aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">Placeholder content for this accordion, which is intended to
                                    demonstrate the <code>.accordion-flush</code> class. This is the third item's
                                    accordion body. Nothing more exciting happening here in terms of content, but just
                                    filling up the space to make it look, at least at first glance, a bit more
                                    representative of how this would look in a real-world application.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary  _open-filter" (click)="openForm()">
                    filtrar
                </button>
            </div>
            <div class="col-md-9">
                <div class="_controls-list py-3">
                    <p>
                        <small class="muted">Visualização: </small>
                        <button (click)="changeViewList=3" class="_grade">grade</button>
                        <button (click)="changeViewList=1" class="_list">lista</button>
                    </p>
                </div>
                <ng-container *ngIf="imoveis.length > 0">
                    <div class="row row-cols-1 row-cols-lg-{{changeViewList}} " [class.list]="changeViewList==1">
                        <ng-container *ngFor="let item of imoveis">
                            <div class="col pb-3">
                                <div class="card">
                                    <div class="card-header p-0">
                                        <!-- limitar fotos para nao carregar todas  -->
                                        <app-carousel [id]="item.id" [data]="item.images" [title]="item.titulo"
                                            [fancybox]="true" [viewphoto]="1"></app-carousel>
                                    </div>
                                    <div class="card-body">
                                        <h2>
                                            <a [routerLink]="['/imovel/'+item.id]">
                                                {{item.titulo}}
                                            </a>
                                        </h2>
                                        <div class="_icones">
                                            <div
                                                class="row text-center row-cols-4 row-cols-lg-3 justify-content-center align-items-center">

                                                <ng-container *ngIf="item.areaconstruida!=''">
                                                    <div class="col">
                                                        <div class="_icon _areaconstruida"></div>
                                                        <span>{{item.areaconstruida}} m²</span>
                                                    </div>
                                                </ng-container>
                                                <ng-container *ngIf="item.quartos!=''">
                                                    <div class="col">
                                                        <div class="_icon _quartos"></div>
                                                        <span>{{item.quartos}} </span>
                                                    </div>
                                                </ng-container>

                                                <ng-container *ngIf="item.garagem!=''">
                                                    <div class="col">
                                                        <div class="_icon _garagem"></div>
                                                        <span>{{item.garagem}} </span>
                                                    </div>
                                                </ng-container>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="card-footer pt-3">
                                        <a [routerLink]="['/imovel/'+item.id]"
                                            class="btn btn-outline-primary d-block w-100">
                                            ver mais
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>