header {
    background-color: var(--color-green);
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 500;
}

._logo {
    margin: 0 auto;
    display: block;
    max-width: 70px;
}

._menu {
    padding: 10px;
}

._menu ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
    justify-content: center;
}

._menu ul li {
    margin-right: 20px;
}

._menu ul li:last-child {
    margin-right: 0px;
}

._menu ul li a {
    color: #000;
    text-decoration: none;
    font-weight: 500;
    transition: .3s;
}

._menu ul li a:hover {
    color: var(--color-green);
    text-decoration: underline;
}

@media only screen and (max-width: 800px) {
    header .p-3 {
        padding-bottom: 0 !important;
    }
    ._logo {
        width: 50px;
    }
}