
<div class="_move-to-up" (click)="scrollToTop()">
    <span></span>
</div>

<footer class=" mt-5 py-5 " style="background-color: #f5f5f5;">
    <div class="container">
        <h2 class="text-center mb-5">Imóveis Life</h2>

        <div class="row">
            <div class="col-md-3">
                <ul class="m-0 p-0">
                    <li>lorem inpsum</li>
                    <li>lorem inpsum</li>
                    <li>lorem inpsum</li>
                    <li>lorem inpsum</li>
                    <li>lorem inpsum</li>
                    <li>lorem inpsum</li>
                </ul>
            </div>
            <div class="col-md-3">
                <ul class="m-0 p-0">
                    <li>lorem inpsum</li>
                    <li>lorem inpsum</li>
                    <li>lorem inpsum</li>
                    <li>lorem inpsum</li>
                    <li>lorem inpsum</li>
                    <li>lorem inpsum</li>
                </ul>
            </div>
            <div class="col-md-3">
                <ul class="m-0 p-0">
                    <li>lorem inpsum</li>
                    <li>lorem inpsum</li>
                    <li>lorem inpsum</li>
                    <li>lorem inpsum</li>
                    <li>lorem inpsum</li>
                    <li>lorem inpsum</li>
                </ul>
            </div>
            <div class="col-md-3">
                <ul class="m-0 p-0">
                    <li>lorem inpsum</li>
                    <li>lorem inpsum</li>
                    <li>lorem inpsum</li>
                    <li>lorem inpsum</li>
                    <li>lorem inpsum</li>
                    <li>lorem inpsum</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <p class="text-center  my-5">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum quaerat rem, nobis maiores tempora dolorum a
            repudiandae rerum dolore, minus, assumenda nesciunt. Eveniet aut quidem asperiores ipsa unde voluptatum
            praesentium?
        </p>
    </div>
</footer>