<div class="card">
    <div class="card-header p-0">
        <!-- limitar fotos para nao carregar todas  -->
        <app-carousel [id]="item.id" [data]="item.photos" [fancybox]="true" [viewphoto]="1">
        </app-carousel>
    </div>
    <div class="card-body">
        <h2>
            <a [routerLink]="['/imovel/'+item.id]">
                {{item.title}}
            </a>
        </h2>
        <div class="_icones">
            <div class="row text-center row-cols-4 row-cols-lg-3 justify-content-center align-items-center">

                <ng-container *ngIf="item.info.bathroom!=''">
                    <div class="col">
                        <div class="_icon _banheiro"></div>
                        <span>{{item.info.bathroom}}</span>
                    </div>
                </ng-container>
                <ng-container *ngIf="item.info.floor!=''">
                    <div class="col">
                        <div class="_icon _quartos"></div>
                        <span>{{item.info.floor}} </span>
                    </div>
                </ng-container>

                <ng-container *ngIf="item.info.garage!=''">
                    <div class="col">
                        <div class="_icon _garagem"></div>
                        <span>{{item.info.garage}} </span>
                    </div>
                </ng-container>
            </div>
        </div>
        <p *ngIf="item?.address.district" class="_endereco">{{item.address.district}}</p>

    </div>
    <div class="card-footer pt-3">
        <a [routerLink]="['/imovel/'+item.id]" class="btn btn-outline-primary d-block w-100">
            ver mais
        </a>
    </div>
</div>