ul#myTab {
    border-bottom: 0;
    border-top: 1px solid #dee2e6;
    margin-top: 8px;
}

.nav-tabs .nav-link {
    color: var(--color-green);
}

.nav-tabs .nav-link.active {
    border-color: transparent #dee2e6 #dee2e6 !important;
    margin-top: -1px;
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    font-weight: 600;
}

._flags span {
    margin-bottom: 5px;
    margin-right: 8px;
    padding: 3px 6px;
    border-radius: 0px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-left: 3px solid var(--color-green);
    background-color: rgba(160, 221, 160, 0.267);
    display: inline-block;
    font-size: 12px;
}

._endereco {
    font-size: 15px;
    margin-top: 8px;
    font-weight: 400;
}

._codigo-imovel {
    text-decoration: underline;
    font-size: 13px;
    font-weight: 500;
    opacity: 0.7;
}

h3 {
    font-size: 18px;
}

._iframe iframe {
    width: 100%;
    display: block;
}

/* form */

._formulario {
    position: sticky;
    top: 180px;
    background: #fff;
    padding: 24px;
    border-radius: 5px;
    border: 1px solid #dedede;
    box-shadow: 0 2px 4px 0 #534e4e33, 0 4px 8px 0 #47424208;
}

._formulario h4 {
    font-weight: 700;
    color: var(--color-green);
}

.btn-primary {
    color: var(--bs-white);
    background-color: var(--color-green);
    border: 0px;
    text-transform: uppercase;
    font-weight: 500;
}

._close {
    display: none;
}

@media only screen and (max-width: 800px) {
    ._formulario {
        padding-top: 10vh;
        height: 0;
        position: fixed;
        top: -200px;
        width: 100%;
        left: 0;
        overflow: hidden;
        opacity: 0;
        transition: .3s all;
        z-index: 9000;
    }
    ._formulario._active {
        height: 100%;
        opacity: 1;
        overflow: auto;
        top: 0;
    }
    ._close {
        display: block;
        opacity: .5;
        border: 0;
        background-color: transparent;
        font-weight: 400;
        font-size: 21px;
        margin-bottom: 15px;
        margin-left: auto;
    }
    ._open-form {
        position: fixed;
        bottom: 0;
        z-index: 8000;
        left: 0;
        padding: 10px;
    }
    h1 {
        margin-bottom: 15px;
    }
    ._flags {
        margin-bottom: 30px;
    }
}