ul#myTab {
    border-bottom: 0;
    border-top: 1px solid #dee2e6;
    margin-top: 8px;
}

.nav-tabs .nav-link.active {
    border-color: transparent #dee2e6 #dee2e6 !important;
    margin-top: -1px;
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    font-weight: 600;
}

._flags span {
    margin-bottom: 5px;
    margin-right: 8px;
    padding: 3px 6px;
    border-radius: 0px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-left: 3px solid plum;
    background-color: rgba(221, 160, 221, 0.267);
    display: inline-block;
    font-size: 12px;
}

._endereco {
    font-size: 15px;
    margin-top: 8px;
    font-weight: 400;
}

._codigo-imovel {
    text-decoration: underline;
    font-size: 13px;
    font-weight: 500;
    opacity: 0.7;
}

h3 {
    font-size: 18px;
}

/* form */

._formulario {
    position: sticky;
    top: 100px;
    background: #fff;
    padding: 24px;
    border-radius: 5px;
    border: 1px solid #dedede;
    box-shadow: 0 2px 4px 0 #534e4e33, 0 4px 8px 0 #47424208;
}