<div class="container py-5">
    <div class="_filtro mb-5">
        <h2 class="text-center">O que está procurando hoje?</h2>
        <form action="">
            <input type="search" class="form-control  _busca-rapida my-3"
                placeholder="Salas Comerciais, Casas, Apartamentos, Terrenos...">
            <!-- caso tenha preenchido o form a cima lista os anuncios aqui -->

            <ng-container *ngIf="imoveisService.imoveis.length > 0">
                <div class="_list-imoveis mb-4">
                    <div class="row row-cols-1 row-cols-lg-4">
                        <ng-container *ngFor="let item of imoveisService.imoveis">
                            <div class="col pb-3">
                                <app-card-imovel [item]="item"></app-card-imovel>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </ng-container>

            <div class=" text-right d-flex mt-5 justify-content-center">
                <div id="_avancada" data-bs-toggle="modal" data-bs-target="#exampleModal"
                    class="btn btn-outline-success py-3 px-5">Deseja fazer uma busca avançada?</div>
            </div>
        </form>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>