<div class="container py-5">
    <div class="_filtro-avancado">
        <div class="text-center _title mb-4">
            <h2>O que está procurando hoje?</h2>
            <h3 class="muted">Faça uma busca e entre em contato</h3>
        </div>
        <form action="">
            <!-- dxsadsa -->
            <div class="row">
                <div class="col-md-12">
                    <div class="position-relative">
                        <label for="">o que deseja?</label>
                        <select class="form-select">
                            <option value="aluguel">Aluguel</option>
                            <option value="comprar">Comprar</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="position-relative">
                        <label for="">Bairro que deseja</label>
                        <input type="text" class="form-control" placeholder="Bairro">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="position-relative">
                        <label for="">Qual valor se encaixa</label>
                        <input type="text" class="form-control" placeholder="Valor">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="position-relative">
                        <label for="">Até quantos quartos</label>
                        <input type="text" class="form-control" placeholder="Quartos">
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <button class="btn btn-success px-5 py-3 d-block w-100 fw-bolder text-uppercase">
                        Buscar imovéis
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="container py-5">
    <div class="_filtro mb-5">
        <h2 class="text-center">Separamos essas ofertas para você!</h2>
        <form action="">
            <input type="text" class="form-control  _busca-rapida my-5"
                placeholder="Salas Comerciais, Casas, Apartamentos, Terrenos..." id="myInput" (keyup)="myFunction()">

            <ng-container *ngIf="imoveisService.imoveis.length > 0">
                <div class="_list-imoveis mb-4">
                    <ul class="row row-cols-1 row-cols-lg-4" id="myUL">
                        <ng-container *ngFor="let item of imoveisService.imoveis">
                            <li class="col pb-3">
                                <label>
                                    <ng-container *ngFor="let cat of item.categoria">{{cat}} </ng-container>
                                </label>
                                <app-card-imovel [item]="item"></app-card-imovel>
                            </li>
                        </ng-container>
                    </ul>
                </div>
            </ng-container>
        </form>
    </div>
</div>