._busca-rapida {
    height: 60px;
    padding: 0px 30px;
    font-weight: 600;
}

._buttons-home div {
    width: 200px;
    color: #fff;
    font-size: 20px;
    line-height: 0px;
    font-weight: 600;
    padding: 60px 10px;
}