._busca-rapida {
    height: 60px;
    padding: 0px 30px;
    font-weight: 600;
}

._buttons-home div {
    width: 200px;
    color: #fff;
    font-size: 20px;
    line-height: 0px;
    font-weight: 600;
    padding: 60px 10px;
}

._alugar {
    border-radius: 5px;
    background-color: rgb(26, 152, 190);
}

._vender {
    border-radius: 5px;
    background-color: rgb(224, 221, 45);
}

._procurar {
    border-radius: 5px;
    background-color: rgb(188, 45, 224);
}