._busca-rapida {
    height: 60px;
    padding: 0px 30px;
    font-weight: 600;
}

._buttons-home div {
    width: 200px;
    color: #fff;
    font-size: 20px;
    line-height: 0px;
    font-weight: 600;
    padding: 60px 10px;
}

#myUL {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#myUL li {
    position: relative;
}

#myUL label {
    font-size: 12px;
    border-radius: 20px;
    background-color: #ccc;
    opacity: .7;
    line-height: 12px;
    padding: 3px 10px;
    position: absolute;
    z-index: 10;
    left: 30px;
    top: 10px;
}

._title h3 {
    opacity: .7;
    font-size: 18px;
}

._filtro-avancado {
    max-width: 700px;
    margin: 30px auto 100px;
}

._filtro-avancado label {
    position: absolute;
}

.position-relative {
    margin-bottom: 25px;
}

.position-relative label {
    position: absolute;
    top: 10px;
    left: 20px;
    opacity: .6;
    font-size: 13px;
}

.position-relative:hover label {
    opacity: 1;
}

.position-relative select, .position-relative input {
    padding: 40px 20px 10px;
    font-weight: 600;
}