:root {
    --colorThumb: rgb(175, 77, 175);
    --scrollbarBG: rgba(124, 121, 121, 0.507);
}

::-webkit-scrollbar {
    width: 5px;
    height: 2px;
}

::-webkit-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: var(--colorThumb) var(--scrollbarBG);
}

::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
}

::-webkit-scrollbar-thumb {
    background-color: var(--colorThumb);
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
}

html {
    scroll-behavior: smooth;
}

.slick-next {
    right: 15px;
}

.slick-prev {
    left: 15px;
    z-index: 10;
}

._carousel-detalhe-projeto .slick-slide {
    margin-right: 2px !important;
}